* {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.back_color {
    width: 1140px;
    height: 743px;
    background-color: #0865DE;
}


.font_px {
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;

}

.color_white {
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;


}

.px_font {
    font-size: 14px;
    line-height: 33,3px;
    color: #D1D1D1;
   

}

.color_fff {
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
   
}

.size_px {
    font-size: 14px;
    line-height: 44px;
    color: #D1D1D1;
    width: 830px;
}