a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.back_color {
    width: 1440px;
    background-color: #0865DE;
}

.font_px {
    font-size: 12px;
    color: #FFFFFF;
}

.color_white {
    font-size: 30px;
    color: #FFFFFF;

}

.px_font {
    font-size: 14px;
    color: #D1D1D1;
   

}

.color_fff {
    font-size: 25px;
    color: #FFFFFF;
   
}

.size_px {
    font-size: 14px;
    color: #D1D1D1;
}